@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
}
pre, code {
  font-family: 'Ubuntu Mono', monospace;
}


img {
  max-width: 100%;
  max-height: 30rem;
  margin: 0 auto;
}


body {
  display: flex;
  flex-direction: column;
}
.topbar {
  order: 1;
}
.tocbar-box {
  order: 2;
}
.tocbar-box:not([data-smartphone-visible]) {
  display: none !important;
}
.main-content {
  order: 3;
}
.footer {
  order: 4;
}



.sitebar {
  height: 4.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.sitebar-button {
  text-decoration: none;
  border: none;
  color: inherit;
  font-size: 18pt;
  background-color: #FAFAFA;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sitebar-button:focus {
  background-color: #FFFFFF;
}

.sitebar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sitebar-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sitebar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sitebar-title {
  font-size: 16pt;
  margin: .5rem 1rem;
}
.sitebar-description {
  font-size: 10pt;
  color: #666666;
}

@media screen and (max-width: 800px) {
  .sitebar {
    height: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .sitebar-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .sitebar-center {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding-bottom: 1rem;
  }

  .sitebar-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

}


.tocbar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
  }
}




.category-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1200px) {
  .category-box-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .category-box-container {
    grid-template-columns: 1fr;
  }
}

.category-box {
  margin: 2rem 1rem;
}

.category-box-title {
  margin: 0;
  font-size: 1.2em;
}

.category-box-list {
  margin: 0;
}





html {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  background-color: #E0E0E0;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 1rem 0;
}



:not(pre) > code {
  background-color: #DDDDDD;
  color: #333333;
  padding: 0 .25rem;
  border-radius: .25rem;
}

.highlighttable {
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  background-color: #202020;
  margin: 1rem 0;
}

.highlighttable .linenos {
  border-right: 1px solid #FFFFFF;
  padding-left: 8px;
  padding-right: 4px;
}

.highlighttable .linenodiv > pre {
  background-color: inherit;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.highlighttable .code {
  width: 100%;
}

.highlight {
  width: 100%;
  margin: 1em 0;
}

.highlight pre {
  margin: 0;
  padding: 4px 8px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


.sitebar {
  font-size: 12pt;
}

.sitebar-title {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}


.footer {
  margin: 1rem 0;
}

.copyright-text, .theme-text, .poweredby-text {
  margin: .25rem;
}
.copyright-text a, .theme-text a, .poweredby-text a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}


.tocbar {
  padding: 1rem;
}
.tocbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tocbar .toc ul,
.tocbar .tags ul,
.tocbar .categories ul {
  margin: 0;
  padding: 0;
}

.tocbar .toc li,
.tocbar .tags li,
.tocbar .categories li {
  margin-bottom: .5rem;
  padding: 0;
}
.toc-item, .category-item, .tag-item {
  text-decoration: none;
  color: inherit;
  padding: .25rem;
}
.toc-item-h1 {  }
.toc-item-h2 { margin-left: 1rem !important; }
.toc-item-h3 { margin-left: 2rem !important; }
.toc-item-h4 { margin-left: 3rem !important; }
.toc-item-h5 { margin-left: 4rem !important; }
.toc-item-h6 { margin-left: 5rem !important; }

.main-content {
  background-color: #FFFFFF;
}

.container {
  margin: .5rem 2rem;
}

.article {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.article-metadata {
  font-size: 10pt;

  display: flex;
  flex-direction: column;
  margin: .25rem 0;
}

.article-date {
  color: #333333;
  margin: .25rem 0;
}

.article-links {
  display: flex;
}

.article-category {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: inherit;
  border: 2px solid #000000;
  border-radius: .25rem;
  padding: .25rem;
  margin: .25rem;
}
.article-tags {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.article-tag {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.25);

  border-radius: .25rem;
  padding: .5rem;
  margin: .25rem;
}

.article-summary {
  margin: 1rem 0;
}

.index-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.index-pagination-button {
  margin: 0 .5rem;
}


.gsc-control-cse {
  background-color: inherit !important;
  border: inherit !important;
  padding: inherit !important;
}
